@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @Url.SslRouteUrl("bullfrog-plain")<br />
        @Url.SslRouteUrl("bullfrog-secure")<br />
        @Url.SslRouteUrl("bullfrog-rel")
    </div>
</body>
</html>
